body {
  margin: 0px;
  background-color: #21c08b;
  font-family: "Muli", sans-serif;
}

.header {
  background-color: #21c08b;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 120px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 10px;
}

.header__menu li a {
  color: #fff;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40 px;
}

.header__menu--profile p {
  margin: 0px;
  color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.footer {
  background-color: #21c08b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.animated {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #fff;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color: #000;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #fff;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #fff;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color: #000;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #fff;
  }
}

.not-found {
  font-size: 100px;
  text-align: center;
  color: #fff;
}

.not-found__text {
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.not-found__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08b), to(#5b3fff));
  background: linear-gradient(#21c08b, #5b3fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.not-found__footer {
  background-color: #5b3fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
}

.not-found__footer a {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.not-found__footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */